/******************************/
/***** COLORS *****************/
/******************************/
/*

Background Off-White Green :		#EFFFFC
Text Medium Green :					#8B9EA0
Main Header Gradient 
	Darker : 							rgb(163,224,224)
	Lighter : 							rgb(210,252,254)





*/



body {
	background: #EFFFFC;
}
* {
	color: #8B9EA0;
}




.label-li-view.selected {
	background: #CFF9FC;
}

/******************************/
/* NO BACKGROUND */ 
/******************************/
.section-heading,
#label-collection
{
	background: none !important;
	background-color: none !important;
}


/******************************/
/* HEADER */ 
/******************************/

#main-header {
	background: sc_static('main_header_bg.png') top repeat-x;
	background: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, rgb(163,224,224)),
		 color-stop(.6, rgb(210,252,254))
	);
}

#main-header .button, 
#main-header .sc-button-inner,
#main-header .sc-button-label
{
	background: none;
}


/******************************/
/* LIST ITEM */ 
/******************************/

.label-li-view.selected {
	background: #CFF9FC;
}


/******************************/
/* BODY MENU */ 
/******************************/

#body-menu .sc-list-item-view {
	color: #fff;
	background: -moz-linear-gradient(left,  rgb(107,188,192), rgb(101,178,181));
	background: -webkit-gradient(
	    linear,
	    left bottom,
	    right bottom,
	    color-stop(0, rgb(107,188,192)),
	    color-stop(.6, rgb(101,178,181))
	);
}

#body-menu .sc-list-item-view label {
	color: #fff;
}

#body-menu .has-disclosure {
	background: none;
}
#body-menu .has-disclosure label {
	color: #33888D;
}


/******************************/
/* BODY MENU */ 
/******************************/ 

#body-menu div {
	background: none;
}
#body-menu {
	background: -moz-linear-gradient(left,  rgb(138,217,220), rgb(128,201,203));
	background: -webkit-gradient(
	    linear,
	    left bottom,
	    right bottom,
	    color-stop(0, rgb(138,217,220)),
	    color-stop(.6, rgb(128,201,203))
	);
}