
$theme: '';/******************************/
/***** COLORS *****************/
/******************************/
/*

Background Off-White Green :		#EFFFFC
Text Medium Green :					#8B9EA0
Main Header Gradient 
	Darker : 							rgb(163,224,224)
	Lighter : 							rgb(210,252,254)





*/



body,
.green-bg,
#author-labels-list div,
#author-captions-list,
#author-captions-list div
{
	background: #EFFFFC !important;
}
*
{
	color: #8B9EA0;
}
h1,h2,h3,h4 
{
	color: #8B9EA0 !important;
}

.sc-button-view.disabled label
{
	color:#c2d1cf !important;
}


#author-labels-list {
	border: none;
}


.label-li-view.selected {
	background: #CFF9FC;
}


 

.section-heading {
	border-bottom: 1px solid #8B9EA0;
}



 

.section-heading,
#author-content-view .sc-toolbar-view,
#label-collection
{
	background: none !important;
	background-color: none !important;
}




 


#main-header, #about-header {
	background: sc_static('main_header_bg.png') top repeat-x;
	background: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, rgb(163,224,224)),
		 color-stop(.6, rgb(210,252,254))
	);
	border-bottom: 1px solid #368084 !important;
	border-top: none;
}

#main-header .button, 
#main-header .sc-button-inner,
#main-header .sc-button-label
{
	background: none;
}

.header-label {
	color: #65b2b5;
}


#create-label-view, #edit-label-view {
	background: sc_static('main_header_bg.png') top repeat-x;
	background: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, rgb(163,224,224)),
		 color-stop(.6, rgb(210,252,254))
	);
	border-top: 1px solid #368084;
}



 


.label-li-view.selected {
	background: #CFF9FC;
}

.caption-li-view.selected *, 
.author-label-li-view.selected *
{
	color: #368084 !important;
}


 


#body-menu-container {
	border-top: none;
	border-bottom: none;
	border-right: 1px solid #368084;
}

#body-menu .sc-list-item-view {
	color: #fff;
	background: -moz-linear-gradient(left,  rgb(107,188,192), rgb(101,178,181));
	background: -webkit-gradient(
	    linear,
	    left bottom,
	    right bottom,
	    color-stop(0, rgb(107,188,192)),
	    color-stop(.6, rgb(101,178,181))
	);
}

#body-menu .sc-list-item-view label {
	color: #fff;
}

#body-menu .has-disclosure {
	background: none;
}
#body-menu .has-disclosure label {
	color: #33888D;
}
#body-menu .sel {
	background: -moz-linear-gradient(left,  rgb(137,201,205), rgb(132,193,196));
	background: -webkit-gradient(
	    linear,
	    left bottom,
	    right bottom,
	    color-stop(0, rgb(137,201,205)),
	    color-stop(.6, rgb(132,193,196))
	);
}

#body-menu div {
}
#body-menu {
	background: -moz-linear-gradient(left,  rgb(138,217,220), rgb(128,201,203));
	background: -webkit-gradient(
	    linear,
	    left bottom,
	    right bottom,
	    color-stop(0, rgb(138,217,220)),
	    color-stop(.6, rgb(128,201,203))
	);
}





 

.body-label-view ul {
	margin:0px;
	padding:0px;
}
	.body-label-view .label-name-view {
		color: #fff;
		background: #317484;
	}

	.body-label-view .marker{
		background: -moz-linear-gradient(top,  rgba(62,159,163,0.8), rgba(39,99,105,0.8));
		background: -webkit-gradient(
		    linear,
		    left bottom,
		    left top,
			 color-stop(0, rgba(39,99,105, 0.8)),
			 color-stop(1, rgba(62,159,163,0.8))
		);
		border: 1px solid #368084;
	}
	
	.captions-container {
	}




 

	
#login-header, #register-header {
	background: sc_static('main_header_bg.png') top repeat-x;
	background: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, rgb(163,224,224)),
		 color-stop(.6, rgb(210,252,254))
	);
	border-bottom: 1px solid #368084 !important;
	border-top: none;
}

#login-panel {
	border: 1px solid #368084 !important;
}
	
	

 


#author-content-top {
	border-top: none;
}

#author-content-bottom {
	border-bottom: none;
}



 


#main-footer {
	background: sc_static('main_header_bg.png') top repeat-x;
	background: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, rgb(163,224,224)),
		 color-stop(.6, rgb(210,252,254))
	);
	border-top: 1px solid #368084 !important;

}



 


.next-button {
	border-color: transparent transparent transparent rgba(62,159,163,0.8);
	border-width: 10px 0px 10px 20px;
	/*background-color: #0F0;*/
}

.prev-button {
	border-color: transparent rgba(62,159,163,0.8) transparent transparent;
	border-width: 10px 20px 10px 0px;
	/*background-color: #0F0;*/
}
