
$theme: '';body {
	margin: 0px !important;
}

.hidden {
	display: none;
}

#body-board-view {
	z-index: 2;
}
#create-label-view, #edit-label-view, #labels-toggle-button {
	z-index: 3;
}
#drag-target-view {
	z-index: 4;
}
#label-collection {
	z-index: 1;
}
.sc-button-inner {
	min-width: 25px !important; 
}
#main-header .sc-button-label {
	text-align: left !important;
	margin-left: 5px !important;
	margin-right: 5px !important;
}
#viewer-controls {
	position: absolute !important;
	z-index: 1000;
	left: 10px;
	top: 10px;
	width: 40px;
}
	#controls-container {
		position: relative !important;
	}
		#controls-inner-container {
			position: static !important;
		}
	
	

 

.body-label-view {
	overflow:visible !important;
}
.body-label-view .marker {
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}

	.body-label-view h1 {
		min-width: 230px;
		display: block;
		padding: 4px 7px 7px 7px;
		opacity: 0.8;
	}
	.label-name-view {
		padding: 5px !important;
	}
	
	.captions-container {
		
	}
	.captions-list {
		width: 100000000px;
	}
	.caption-view {
		display: inline !important;
		float: left !important;
		
	}
	.caption-view h2 {
		padding: 0px 10px 10px 0px;
	}
	.caption-view p {
		padding: 0px 10px 10px 0px;
		line-height: 17px !important;
		letter-spacing: 0px !important;
		font-size: 12px !important;
	}
	small {
		display: block !important;
		margin: 10px 0px 0px 0px ;
	}
	
	

 

	
.wysiwyg {

}	
	
		
	

.measuring-div {
	max-width: 373px !important;
	line-height: 17px !important;
}